# Data Analysis with NumPy and Pandas

## NumPy Arrays

In [69]:
import pandas as pd

## Numpy Arrays

In [70]:
a = np.array([1,2,3,4])

In [71]:
a[2]

3

In [72]:
a[0:3]

array([1, 2, 3])

In [73]:
type(a[2])

numpy.int64

In [74]:
b = [[1,2], [3,4,5]]

In [75]:
np.array([[1,2], [3,4,5]])

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (2,) + inhomogeneous part.

In [76]:
a.shape

(4,)

In [77]:
b = np.array([
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
])

In [78]:
b.shape

(3, 4)

In [79]:
c = np.array([
    [[1, 2], [3,4]],
    [[5,6], [7,8]],
    [[9,10], [11,12]],
])

In [80]:
c.shape

(3, 2, 2)

In [81]:
a = np.array([1,2,3,4])

In [82]:
a

array([1, 2, 3, 4])

In [83]:
type(a[0])

numpy.int64

In [84]:
a = np.array([1,2,3,'four'])

In [85]:
a

array(['1', '2', '3', 'four'], dtype='<U21')

In [86]:
type(a[0])

numpy.str_

In [87]:
np.array([1,2,3,4.0])

array([1., 2., 3., 4.])

In [88]:
a = np.array([1,2,3,None])

In [89]:
a

array([1, 2, 3, None], dtype=object)

In [90]:
type(a[0])

int

In [91]:
type(a[3])

NoneType

In [92]:
type(a[3])

NoneType

In [93]:
a = np.array([1,2,3,np.nan])

In [94]:
type(a[0])

numpy.float64

In [95]:
type(a[3])

numpy.float64

In [96]:
x = np.array([1,2,3,4,5])

In [97]:
np.sin(x)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 , -0.95892427])

In [98]:
c = np.array([[1 * np.pi, 2 * np.pi], [2.5 * np.pi, 1.5 * np.pi]])

In [99]:
np.round(np.sin(c))

array([[ 0., -0.],
       [ 1., -1.]])

## Pandas DataFrames

In [100]:
import pandas as pd

In [101]:
df = pd.DataFrame(
    [['one', 1], ['two', 2], ['three', 3]],
    columns=['name', 'value']
)

In [102]:
df.head()

    name  value
0    one      1
1    two      2
2  three      3

In [103]:
df

    name  value
0    one      1
1    two      2
2  three      3

In [104]:
# https://www.kaggle.com/datasets/kanchana1990/real-estate-data-london-2024?resource=download

In [105]:
df = pd.read_csv('23_real_estate.csv', index_col='sizeSqFeetMax')
df.head()

,addedOn,title,descriptionHtml,propertyType,bedrooms,bathrooms,listingUpdateReason,price
sizeSqFeetMax,,,,,,,,
16749.0,10/10/2024,"8 bedroom house for sale in Winnington Road, H...","This magnificent home, set behind security gat...",House,8.0,8.0,new,"£24,950,000"
12960.0,Reduced on 24/10/2024,"7 bedroom house for sale in Brick Street, Mayf...","In the heart of exclusive Mayfair, this majest...",House,7.0,7.0,price_reduced,"£29,500,000"
6952.0,Reduced on 22/02/2024,6 bedroom terraced house for sale in Chester S...,A freehold home that gives you everything you ...,Terraced,6.0,6.0,price_reduced,"£25,000,000"
16749.0,08/04/2024,6 bedroom detached house for sale in Winningto...,A magnificent bespoke residence set behind sec...,Detached,6.0,6.0,new,"£24,950,000"
10241.0,Reduced on 11/07/2023,8 bedroom detached house for sale in St. John'...,"With its village like ambiance, elegant regenc...",Detached,8.0,10.0,price_reduced,"£24,950,000"

In [106]:
print(type(df.title))
print(type(df.title.values))

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>

In [107]:
df = pd.read_csv('23_real_estate.csv', index_col='sizeSqFeetMax')

In [108]:
df = pd.read_csv('23_real_estate.csv')
df.set_index('sizeSqFeetMax', inplace=True)

In [109]:
df.columns

Index(['addedOn', 'title', 'descriptionHtml', 'propertyType', 'bedrooms',
       'bathrooms', 'listingUpdateReason', 'price'],
      dtype='object')

In [110]:
df.columns.values

array(['addedOn', 'title', 'descriptionHtml', 'propertyType', 'bedrooms',
       'bathrooms', 'listingUpdateReason', 'price'], dtype=object)

## Cleaning

In [111]:
df = pd.read_csv('23_real_estate.csv')
df.head()

,addedOn,title,descriptionHtml,propertyType,sizeSqFeetMax,bedrooms,bathrooms,listingUpdateReason,price
0,10/10/2024,"8 bedroom house for sale in Winnington Road, H...","This magnificent home, set behind security gat...",House,16749.0,8.0,8.0,new,"£24,950,000"
1,Reduced on 24/10/2024,"7 bedroom house for sale in Brick Street, Mayf...","In the heart of exclusive Mayfair, this majest...",House,12960.0,7.0,7.0,price_reduced,"£29,500,000"
2,Reduced on 22/02/2024,6 bedroom terraced house for sale in Chester S...,A freehold home that gives you everything you ...,Terraced,6952.0,6.0,6.0,price_reduced,"£25,000,000"
3,08/04/2024,6 bedroom detached house for sale in Winningto...,A magnificent bespoke residence set behind sec...,Detached,16749.0,6.0,6.0,new,"£24,950,000"
4,Reduced on 11/07/2023,8 bedroom detached house for sale in St. John'...,"With its village like ambiance, elegant regenc...",Detached,10241.0,8.0,10.0,price_reduced,"£24,950,000"

In [112]:
df.sort_values(by='price', inplace=True, ascending=True)
df.head()

,addedOn,title,descriptionHtml,propertyType,sizeSqFeetMax,bedrooms,bathrooms,listingUpdateReason,price
882,NaN,"Plot for sale in 10-14 Hollybush Gardens, E2 6...",• Bethnal Green is a diverse and vibrant area ...,Plot,NaN,NaN,NaN,new,POA
715,17/09/2024,1 bedroom apartment for sale in Inverness Terr...,Located in W2 - with close proximity to Kensin...,Apartment,696.0,1.0,1.0,new,"£1,050,000"
465,08/10/2024,2 bedroom maisonette for sale in Great Percy S...,A superb 2 bedroom maisonette offering stylish...,Maisonette,736.0,2.0,1.0,new,"£1,150,000"
940,12/08/2024,5 bedroom detached house for sale in Winchmore...,Stunning 5 Bedroom Detached House for Sale on ...,Detached,2565.0,5.0,3.0,new,"£1,200,000"
995,Reduced on 03/07/2023,"2 bedroom flat for sale in Warwick Square, LON...",A sensational 2 bedroom garden apartment that ...,Flat,1432.0,2.0,2.0,price_reduced,"£1,600,000"

In [113]:
df.tail()

,addedOn,title,descriptionHtml,propertyType,sizeSqFeetMax,bedrooms,bathrooms,listingUpdateReason,price
448,23/05/2024,"5 bedroom house for sale in Chester Terrace, R...",There are so many elements that make this exce...,House,4185.0,5.0,4.0,new,"£9,950,000"
459,Reduced on 17/07/2024,12 bedroom house for sale in Queen's Gate Plac...,"A large, south facing and very elegant Victori...",House,8791.0,12.0,8.0,price_reduced,"£9,975,000"
461,18/04/2024,6 bedroom detached house for sale in Lindfield...,An exceptional 5 to 6 bedroom detached family ...,Detached,7288.0,6.0,6.0,new,"£9,995,000"
460,21/08/2023,"3 bedroom duplex for sale in Lowndes Square, L...",This stunning maisonette presents a rare oppor...,Duplex,4000.0,3.0,4.0,new,"£9,995,000"
970,01/11/2024,"2 bedroom flat for sale in Brailsford Road, SW2",Keating Estates are proud to present to market...,Flat,1017.0,2.0,2.0,new,"£900,000"

In [114]:
import numpy as np
import pandas as pd 

df = pd.read_csv('23_real_estate.csv')

def price_cleaner(price):
    price = price.replace('£', '').replace(',', '')
    try:
        return int(price)
    except:
        print(f'Could not process {price}')
        return np.nan

In [115]:
df.price = df.price.apply(price_cleaner)
df.sort_values(by='price', inplace=True, ascending=True)
df.head()

Could not process POA

,addedOn,title,descriptionHtml,propertyType,sizeSqFeetMax,bedrooms,bathrooms,listingUpdateReason,price
74,Reduced on 26/06/2024,"1 bedroom apartment for sale in Rich Street, L...",GARDEN FLAT...\r<br />CHAIN FREE - Alphabet Ci...,Apartment,NaN,1.0,1.0,price_reduced,315000.0
484,Reduced on 12/10/2024,"1 bedroom apartment for sale in Ruckholt Road,...","***GUIDE PRICE £325,000 - £350,000***<br /><br...",Apartment,NaN,1.0,1.0,price_reduced,325000.0
850,Reduced on 01/08/2024,"3 bedroom flat for sale in The Grange, East Fi...",<p>We offer for sale a spacious three bedroom ...,Flat,NaN,3.0,1.0,price_reduced,385000.0
241,Reduced today,"2 bedroom apartment for sale in Forge Square, ...","Well presented, 2 bedroom, split level apartme...",Apartment,NaN,2.0,1.0,price_reduced,400000.0
753,04/11/2024,"2 bedroom flat for sale in Wastdale Road, Fore...",A well presented two bedroom ground floor flat...,Flat,NaN,2.0,1.0,new,425000.0

In [54]:
for description in df.head(10).descriptionHtml:
    print('\n')
    print(description)

<br />All viewing strictly by appointment with Alphabet City  ,of postcode miles)Ground Rent £250 PAoor Area - 53.2 sqmrden. Close to both Westferry DLR and Canary Wharf, the apartment has been upgraded. It is well proportioned offering a spacious 'eat in' kitchen-diner; a reception with a westerly facing balcony leading to a patio, perfect for a well-deserved glass of wine after work; a spacious bedroom with fitted wardrobes; and a contemporary bathroom. In addition, the development is gated and the apartment has an allocated parking space. Close proximity to the cinema, gyms, restaurants and bars make this a highly desirable home.


***GUIDE PRICE £325,000 - £350,000***<br /><br />Stunning Modern Ground Floor Apartment moments from Leyton Central Line Station and a short walk from Leyton High Road shops. This beautifully presented property boasts one double bedroom, good size open plan receptio/kitchenn, and a modern bathroom, perfect for a professional couple or individual. The apartment is bright, spacious, and stylish, offering a homely and inviting atmosphere. The secure and well-maintained building provides a sophisticated living space for its residents. <br /><br />Enjoy the convenience of a private patio, ideal for relaxing or entertaining guests. With a rental yield of 4-5.9%, this property offers a great investment opportunity in a sought-after location. Don't miss the chance to own this contemporary urban retreat in a prime London setting. Contact us today to arrange a viewing and make this stunning apartment your new home.


<p>We offer for sale a spacious three bedroom purpose built flat, situated on the third floor of this popular ex Local Authority block. Conveniently located, just off Oak Lane, the property is close to bus routes and local shops on the High Road, and within one mile of East Finchley tube (Zone 3). The property is well kept throughout, bright and airy, and offers great living space, benefitting from double glazed windows, loft access and large Terrace, with views over the rooftops towards Tally Ho Corner.</p><br /><br />


To check broadband and mobile phone coverage please visit Ofcom here ofcom.org.uk/phones-telecoms-and-internet/advice-for-consumers/advice/ofcom-checkerComprising a luxury, open plan kitchen/ living room and guest cloakroom on the ground floor, followed by two bedrooms and family bathroom set on the second floor. Close to Mudchute DLR, bus routes to Canary Wharf and the Thames River Bus service.<br /><br /><br />•	Tenure: Leasehold<br />•	Length of lease: approx. 112 years<br />•	Annual ground rent: £0<br />•	Ground Rent review period: N/A <br />•	Annual service charge amount: £1,200<br />•	Service charge review period: Annually<br />•	Council: Tower Hamlets<br />•	Council Tax Band: E


A well presented two bedroom ground floor flat with a private garden is located close to Forest Hill and Honor Oak stations.<br /><br />Wastdale Road is located between both Forest Hill and Honor Oak Park stations allowing quick and easy access into central London via mainline services as well as London Overground services. Close proximity to Forest Hill High Street and Honor Oak Parade as well as local schools.<br /><br />


A superb, newly refurbished bright one bedroom apartment on the raised ground floor of this attractive converted period house. The property has been interior designed and benefits from wonderful high ceilings throughout, large windows in the living room and bedroom and wood flooring. The spacious accommodation comprises: entrance hall with storage cupboards, beautiful reception room with dining area and feature wall with fireplace, well laid-out kitchen and double bedroom to the rear with fitted wardrobes. Located close to transport and local amenities. Leasehold 125 years from February 2018 - 118 years remaining. Service Charge: TBA. EPC = D. Council Tax Band =C.  Service Charge: £2097 per annum. Ground rent £10 per annum.


A two double bedroom apartment in this prestigious gated development with 24 hours concierge. The property has a private balcony over looking the internal courtyard, allocated parking and is offered with no onward chain.<br /><br />Bromyard Avenue is on the borders of Shepherds Bush and just over half a mile from East Acton and Acton Central stations providing excellent access into town.<br /><br />


<br />Get an Offer makes no guarantees as to the accuracy within these property details.have not been tested at the time of our instructions.uced by a third party so any information supplied should be checked by yourself for any inaccuracies.


THREE BEDROOM HOUSE WITH A BEAUTIFUL GREEN OUTLOOK AND GARAGE:  Located on this quiet residential road overlooking West Ham Park and in the catchment area for several local schools, is this sizeable three bedroom house that would make an excellent family home. <br /><br />The Property <br />This home is boasts 930  square feet of well proportioned living space, and is available chain free. There is  a delightful, bright reception room and eat-in kitchen. There is a sizeable rear garden leading off from the kitchen, making this layout ideal for entertaining. Further benefits include residents parking, a downstairs WC and abundant storage. <br /><br />The Location <br />Aileen Walk  is a residential road to the south of E15 and located between the green spaces of Stratford and West Ham Park. It is within easy reach of several local schools, including the highly sought after School 21, and Park Primary School, making this a very popular location for families. Local transport links can be found at the extensively connected Stratford Station, as well Maryland & the Elizabeth Line.<br /><br />Our View <br />This is a rare opportunity to acquire an extensive property, at a very competitive price point. The house is offered in good decorative order, yet still has the potential for a buyer to add their own identity and flair. A family would benefit from the extensive storage, favourable layout and excellent room sizes.


**CHAIN FREE** This delightful two bedroom flat boasts a spacious 1,012 sq ft of living space, perfect for those seeking a flat that they can update and modernise to their own tastes. Situated in Edinburgh House a purpose-built development, this property is offered with a share of freehold.<br /><br />The property features a large reception room, ideal for relaxing or entertaining guests. Separate kitchen. A modern shower room with wc and separate wc, two double bedrooms offering ample space for a small family, guests, or even a home office. A lift within the building adds to the convenience. Visitor parking and a garage, offering additional storage space or secure parking for your vehicle. <br /><br />Reconfiguring this two-bedroom flat into a three-bedroom flat is a feasible option.<br /><br />Tenterden Grove ensures easy access to local amenities, transport links, and green spaces, making it a desirable place to call home.<br /><br />Contact Squires Estates today to arrange a viewing and take the first step towards making this flat your new home.<br /><br />Share of Freehold with 944 years remaining<br />Ground Rent: n/a<br />Service Charge: Approx. £3000 per annum<br /><br />

In [55]:
def description_cleaner(description):
    return description.replace('<br />', '\n')

df.descriptionHtml = df.descriptionHtml.apply(description_cleaner)

In [56]:
df.descriptionHtml = df.descriptionHtml.apply(lambda d: d.replace('<br />', '\n'))

In [57]:
for description in df[10:20].descriptionHtml:
    print('\n')
    print(description)

<b>SUMMARY</b>
A superb 1/2 bed ground floor period conversion, with sunny rear farden. located in the heart of Earlsfield.


<b>DESCRIPTION</b>
A superb 1/2 bedroom ground floor period conversion, with sunny rear garden, located in the heart of Earlsfield.

The property benefits from contemporary, stylish decor throughout with wooden flooring and a wealth of character.  Further benefits include a versatile layout, a large kitchen/reception room, good storage and a delightful, shared garden with an open aspect to the south-west and with side access. Furthermore, the property has a share of the freehold.

Set in this desirable location, Steerforth Street is a tree-lined residential street moments from Earlsfield mainline station and the popular coffee shops, bars and restaurants of Garratt Lane.

Viewing advised.


We currently hold lease details as displayed above, should you require further information please contact the branch.  Please note additional fees could be incurred for items such as leasehold packs.



1. MONEY LAUNDERING REGULATIONS: Intending purchasers will be asked to produce identification documentation at a later stage and we would ask for your co-operation in order that there will be no delay in agreeing the sale.
2. General: While we endeavour to make our sales particulars fair, accurate and reliable, they are only a general guide to the property and, accordingly, if there is any point which is of particular importance to you, please contact the office and we will be pleased to check the position for you, especially if you are contemplating travelling some distance to view the property.
3. The measurements indicated are supplied for guidance only and as such must be considered incorrect.
4. Services: Please note we have not tested the services or any of the equipment or appliances in this property, accordingly we strongly advise prospective buyers to commission their own survey or service reports before finalising their offer to purchase.
5. THESE PARTICULARS ARE ISSUED IN GOOD FAITH BUT DO NOT CONSTITUTE REPRESENTATIONS OF FACT OR FORM PART OF ANY OFFER OR CONTRACT. THE MATTERS REFERRED TO IN THESE PARTICULARS SHOULD BE INDEPENDENTLY VERIFIED BY PROSPECTIVE BUYERS OR TENANTS. NEITHER SEQUENCE (UK) LIMITED NOR ANY OF ITS EMPLOYEES OR AGENTS HAS ANY AUTHORITY TO MAKE OR GIVE ANY REPRESENTATION OR WARRANTY WHATEVER IN RELATION TO THIS PROPERTY.


Guide Price  ***£525,000 - £540,000***

Welcome to this beautifully designed 2-bedroom flat located in the prestigious Canary Central development. This modern property features two spacious double bedrooms, perfect for comfortable living. The open-plan kitchen and living area are finished to a high standard, providing a stylish and functional space for both relaxation and entertainment. The living area extends seamlessly onto a private balcony, offering a serene outdoor space to unwind and enjoy the views.

Residents of this development benefit from a range of exceptional amenities. The communal garden provides a peaceful retreat, while the on-site gym and swimming pool cater to your fitness and leisure needs. Additionally, the dedicated 24-hour concierge service ensures convenience and security round the clock.

Conveniently situated, this flat is just 0.9 miles from Canary Wharf Underground Station and a mere 0.4 miles from South Quay DLR Station, offering excellent transport links and easy access to the heart of London.

Experience the perfect blend of luxury and convenience in this remarkable Canary Central flat.

Selling your property in Turner House? Trying to find your perfect home to buy? Register with <strong>Chestertons Surrey Quays</strong> to get the full picture from the experts in the Millwall market.

Our China Desk is here for you, if Chinese is your preferred language, please get in touch via WeChat (<strong>Chestertons-NHsales</strong>)


A two double bedroom apartment set within a Grade two listed hospital conversion with a picturesque communal garden. This property has wooden flooring throughout, has high ceilings, a separate kitchen, living room with feature fireplace and space for dining. There is sash windows secondary glazing for increased sound insulation.

Located on Bow road this property is opposite Bow Road Station on the District, Hammersmith & city and Circle line. This property is located 200 yards from Tredegar square and its popular local eateries and pubs. Roman road is under half a mile walk with its many, shops and cafes and a Victoria park can be found under a mile away.





<b>SUMMARY</b>
A well presented two double bedroom, freehold house situated in the sought after Poets area of Wimbledon, being within easy reach of the Town Centre and Mainline Station.


<b>DESCRIPTION</b>
A well presented two double bedroom freehold house situated in the sought after Poets area of Wimbledon, being within easy reach of the Town Centre and Mainline Station.

Comprising a large open plan living/dining room and fully fitted modern kitchen with plenty storage space,  two double bedrooms, both with built in wardrobes and a well presented family bathroom.

Situated in a private close, with a pretty front garden and two allocated parking spaces, this would be a fantastic purchase for both first time buyers and rental investors alike.



1. MONEY LAUNDERING REGULATIONS: Intending purchasers will be asked to produce identification documentation at a later stage and we would ask for your co-operation in order that there will be no delay in agreeing the sale.
2. General: While we endeavour to make our sales particulars fair, accurate and reliable, they are only a general guide to the property and, accordingly, if there is any point which is of particular importance to you, please contact the office and we will be pleased to check the position for you, especially if you are contemplating travelling some distance to view the property.
3. The measurements indicated are supplied for guidance only and as such must be considered incorrect.
4. Services: Please note we have not tested the services or any of the equipment or appliances in this property, accordingly we strongly advise prospective buyers to commission their own survey or service reports before finalising their offer to purchase.
5. THESE PARTICULARS ARE ISSUED IN GOOD FAITH BUT DO NOT CONSTITUTE REPRESENTATIONS OF FACT OR FORM PART OF ANY OFFER OR CONTRACT. THE MATTERS REFERRED TO IN THESE PARTICULARS SHOULD BE INDEPENDENTLY VERIFIED BY PROSPECTIVE BUYERS OR TENANTS. NEITHER SEQUENCE (UK) LIMITED NOR ANY OF ITS EMPLOYEES OR AGENTS HAS ANY AUTHORITY TO MAKE OR GIVE ANY REPRESENTATION OR WARRANTY WHATEVER IN RELATION TO THIS PROPERTY.


A semi-detached house set securely behind the main dwelling, close to Highbury Fields, Highbury & Islington station, Upper Street and Angel



A tranquil refuge from the hustle and bustle of city life, it boasts lots of natural light, cosy living areas and a fabulous garden, situated a short stroll from the shops, restaurants and bars of Upper Street and only a short walk from Highbury & Islington Underground.

Designed by James Gorst Architects, this house is finished to a very high standard, with slate flooring and underfloor heating throughout the property. The accommodation comprises a bespoke handmade kitchen, bright reception room, double bedroom, modern bathroom. The location is set back from the main road in a very secure spot, with the front door opening onto delightful communal gardens, and access through the main house to the main road.




<div><strong>*** GUIDE PRICE £550,000 - £600,000 ***</strong></div><div>
</div><div>Discover the epitome of modern living with this exceptional two-bedroom, two-bathroom apartment, perfectly situated in the vibrant city of London. Located on the first floor of a bespoke development, this stunning property offers a harmonious blend of elegant design and luxurious finishes.

As you step inside, you'll be greeted by the breathtaking herringbone wooden flooring that flows seamlessly throughout the apartment, exuding both warmth and sophistication. The open-plan living area invites you to unwind and entertain, with its chic design and ample natural light streaming through large windows.

The high-end kitchen is a culinary masterpiece, featuring exquisite porcelain worktops that effortlessly combine style and functionality. Equipped with top-of-the-range appliances, this kitchen is truly a chef's dream. Whether you're hosting a dinner party or preparing a simple meal, this space will exceed your expectations.

The property boasts two generously sized double bedrooms, providing ample space for relaxation. The master bedroom features an en-suite bathroom, complete with a separate shower and a luxurious free-standing bath, setting the perfect ambience for ultimate relaxation and tranquillity.

Step outside onto your private balcony, a serene oasis where you can enjoy a morning coffee or unwind in the evenings, taking in the panoramic views of the surrounding cityscape. The balcony offers the perfect outdoor retreat without compromising privacy.

Residents of this exclusive development will benefit from additional features, including bike storage facilities, ensuring convenience and security for those who prefer to cycle around the city. With excellent transport links nearby, including walking distance to Deptford High Street, you'll have easy access to everything London has to offer, from world-class shopping destinations to cultural hotspots and renowned restaurants.

London living doesn't get much better than this. Immerse yourself in the vibrancy of city life without compromising on comfort and style. Don't miss this opportunity to own a stunning 2-bedroom apartment in one of the most sought-after locations in London. Contact us today to arrange a viewing and secure your piece of luxury in the heart of the capital.</div><div>
</div><div>A new 999 999-year lease with no ground rent and service charge is £1,800 - £2,000 approximately a year. The building also comes with a 10-year warranty.</div><div>
</div><div><strong>Agents Note</strong></div><div>We may refer you to recommended providers of ancillary services such as Conveyancing, Financial Services, Insurance and Surveying. We may receive a commission payment fee or other benefit (known as a referral fee) for recommending their services. You are not under any obligation to use the services of the recommended provider. The ancillary service provider may be an associated company of Kallars Ltd.</div><div>
</div><div><strong>AML Disclaimer</strong></div><div>Please note it is a legal requirement that we require verified ID from purchasers before instructing a sale. Please also note we shall require proof of funds before we instruct the sale, together with your instructed solicitors.</div>


This three bedroom end of terrace house would make an ideal family home. The property has a large and welcoming lounge, the bay window is finished with custom built shutters and the room has wooden flooring. The kitchen is bright and modern, it has plenty of work top space and a view of the garden. There is also a shower room on the ground floor. The garden is a combination of tiled patio and space for plants. All bedrooms and family bathroom are on the first floor. The loft has been insulated and it could be converted (STPP). The house has double glazed windows, gas central heating, garage, and a driveway.<p></p><p>Waltham Way is a short walk to Chingford Mount and with easy access to A406, M11, Walthamstow and Tottenham Hale. If you are looking for a move-in ready property, this could be your new home. Please call to book a viewing.</p><p></p><h3>Room sizes:</h3><ul><li><b>Lounge/Dining Area</b>: 28'2 x 10'2 (8.59m x 3.10m)</li><li><b>Kitchen</b>: 12'1 x 8'6 (3.69m x 2.59m)</li><li><b>Bathroom</b>: 6'4 x 5'3 (1.93m x 1.60m)</li><li><b>Bedroom 1</b>: 13'3 x 9'9 (4.04m x 2.97m)</li><li><b>Bedroom 2</b>: 12'2 x 10'0 (3.71m x 3.05m)</li></ul><ul><li><b>Bedroom 3</b>: 7'8 x 6'0 (2.34m x 1.83m)</li><li><b>Bathroom</b>: 8'1 x 5'9 (2.47m x 1.75m)</li><li><b>Driveway</b></li><li><b>Garage</b></li><li><b>Rear Garden</b></li></ul><p>
<i>The information provided about this property does not constitute or form part of an offer or contract, nor may it be regarded as representations. All interested parties must verify accuracy and your solicitor must verify tenure/lease information, fixtures & fittings and, where the property has been extended/converted, planning/building regulation consents. All dimensions are approximate and quoted for guidance only as are floor plans which are not to scale and their accuracy cannot be confirmed. Reference to appliances and/or services does not imply that they are necessarily in working order or fit for the purpose.

We are pleased to offer our customers a range of additional services to help them with moving home. None of these services are obligatory and you are free to use service providers of your choice. Current regulations require all estate agents to inform their customers of the fees they earn for recommending third party services. If you choose to use a service provider recommended by Douglas Allen, details of all referral fees can be found at the link below. If you decide to use any of our services, please be assured that this will not increase the fees you pay to our service providers, which remain as quoted directly to you.</i></p>


This fantastic two bedroom apartment boasts a modern living space with an open-plan reception room and access to a stunning private terrace offering beautiful views over London.

Barrier Point is ideally located for enjoyment of the beautiful Thames Barrier Park, the river promenade and the local Royal Docks. Local transport links include Pontoon Dock DLR Station and the North Woolwich ferry crossing.

Please use the reference CHPK3247978 when contacting Foxtons.


CHAIN FREE – Charming and spacious two-double bedroom split-level period conversion with private roof terrace in the heart of East Dulwich.

Boasting over 985 Sq Ft of internal space across the top two floors of this Victorian building – this property has been lovingly maintained by the current owner. There is a sumptuous 22x12 ft open-plan kitchen-reception leading out through sliding doors onto a private terrace overlooking the neighbouring gardens. On the first floor – there are two comfortable double bedrooms and a modern family bathroom. Then, up into the top floor is a 17x14 ft loft room with large windows with a gorgeous view across the rooftops towards Canary Wharf – ideal as an additional bedroom or reception room.

Landcroft Road is desirably located for the excellent schools, parks and green spaces as well as the independent shops, bars, coffee shops and restaurants of Lordship Lane and North Cross Road. There are strong transport links into The City and West End from East Dulwich station (0.7 miles) and Peckham Rye station (1.4 miles) as well as bus/cycle routes through the neighbouring Forest Hill, Dulwich Village and Herne Hill.

EPC: D | Council Tax Band: C  | Lease: TBC  years remaining | SC:  TBC   | GR: TBC  | Buildings Insurance: TBC




Arranged on the 4th floor, this excellently presented 2 bedroom apartment offers a generous kitchen/reception room, 2 ample bedrooms, a contemporary bathroom and expansive balcony.

The property benefits from an fantastic location moments from the restaurants and shops of Canary Wharf as well as transport links such as Cross harbour for easy access to and around the city.

Please use the reference CHPK4418138 when contacting Foxtons.

In [59]:
import re

html_regex = re.compile(r'<.*?>')
def description_cleaner(description):
    return html_regex.sub('', description)

df.descriptionHtml = df.descriptionHtml.apply(description_cleaner)

In [60]:
from bs4 import BeautifulSoup

def description_cleaner(description):
    return BeautifulSoup(description).get_text()

df.descriptionHtml = df.descriptionHtml.apply(description_cleaner)

In [61]:
import time

html_regex = re.compile(r'<.*?>')
def description_cleaner_regex(description):
    return html_regex.sub('', description)

def description_cleaner_bs(description):
    return BeautifulSoup(description).get_text()

# Note: Although this dataframe has the variable name "df" in the book,
# I am changing it to "df_test" here to avoid overwriting the other, cleaned
# dataframe being used
df_test = pd.read_csv('23_real_estate.csv')
start = time.time()
df_test.descriptionHtml = df_test.descriptionHtml.apply(description_cleaner_regex)
print(f'Regex cleaning took {time.time() - start} seconds')

df_test = pd.read_csv('23_real_estate.csv')
df_test.descriptionHtml = df_test.descriptionHtml.apply(description_cleaner_bs)
print(f'BeautifulSoup  cleaning took {time.time() - start} seconds')

Regex cleaning took 0.004632234573364258 seconds
BeautifulSoup  cleaning took 0.17952203750610352 seconds

In [116]:
def title_parser(row):
    try:
        data, row['location'] = row['title'].split(' for sale in ')
        row['bedrooms_title'], row['property_type_title'] = data.split(' bedroom ')
        row['bedrooms_title'] = int(row['bedrooms_title'])
        return row
    except:
        print(f'Non-standard title: {row['title']}')

df = df.apply(title_parser, axis=1)

Non-standard title: Block of apartments for sale in King's Mews, London, WC1, WC1N
Non-standard title: Block of apartments for sale in Hamilton House, 79-81 Southampton Row, London, WC1B
Non-standard title: Block of apartments for sale in Lincoln's Inn Fields, London, WC2, WC2A
Non-standard title: Land for sale in The Bishops Avenue, N2
Non-standard title: Equestrian facility for sale in Highwood Lodge, Highwood Hill, London, NW7
Non-standard title: Land for sale in Clandon House, Clandon Gardens, London, N3
Non-standard title: Land for sale in Kings Road, London, SW6
Non-standard title: Land for sale in The Bishops Avenue, N2
Non-standard title: Detached house for sale in Netherhall Gardens, Hampstead NW3
Non-standard title: Town house for sale in Mansfield Street, London, W1G
Non-standard title: Detached house for sale in Grosvenor Road, Pimlico, London, SW1V
Non-standard title: Land for sale in Branch Hill, Hampstead, London, NW3
Non-standard title: End of terrace house for sale in Eaton Place, London, SW1X
Non-standard title: Equestrian facility for sale in Highwood Lodge Farm Estate, Highwood Hill, London, NW7
Non-standard title: Terraced house for sale in Hyde Park Gate, Kensington, London, SW7
Non-standard title: Land for sale in Compton Avenue, N6
Non-standard title: Plot for sale in Piccadilly, Mayfair, London, W1J
Non-standard title: Plot for sale in 10-14 Hollybush Gardens, E2 6QP, E2

In [117]:
for title in df.head(10).title:
    print(title)

1 bedroom apartment for sale in Rich Street, Limehouse E14 8AL, E14
1 bedroom apartment for sale in Ruckholt Road, Leyton, London, E10
3 bedroom flat for sale in The Grange, East Finchley, N2
2 bedroom apartment for sale in Forge Square, Westferry Road, Isle Of Dogs E14
2 bedroom flat for sale in Wastdale Road, Forest Hill, SE23
1 bedroom apartment for sale in Cambridge Avenue, London, NW6
2 bedroom flat for sale in Bromyard Avenue, Acton, W3
2 bedroom apartment for sale in Viscount House, Lakeside Drive, London, NW10
3 bedroom terraced house for sale in Aileen Walk, Stratford, E15
2 bedroom flat for sale in Tenterden Grove, London, NW4

In [118]:
def date_str_cleaner(date_str):
    if pd.isna(date_str):
        return None

    date_str = date_str.replace('Added', '').replace('Reduced', '').replace('on', '')
    date_str = date_str.replace('today', '06/11/2024')
    date_str = date_str.replace('yesterday', '06/10/2024')
    date_str = date_str.strip()
    return date_str

In [119]:
df['date'] = df.addedOn.apply(date_str_cleaner)
df['date'] = pd.to_datetime(df.date, format='%d/%m/%Y')

In [120]:
df.rename(columns={
    'descriptionHtml': 'description',
    'propertyType': 'property_type',
    'sizeSqFeetMax': 'sq_feet',
    'listingUpdateReason': 'listing_update_reason',
    'addedOn': 'added_on'
}, inplace=True)

In [121]:
df.head()

,added_on,title,description,property_type,sq_feet,bedrooms,bathrooms,listing_update_reason,price,location,bedrooms_title,property_type_title,date
74,Reduced on 26/06/2024,"1 bedroom apartment for sale in Rich Street, L...",GARDEN FLAT...\r<br />CHAIN FREE - Alphabet Ci...,Apartment,NaN,1.0,1.0,price_reduced,315000.0,"Rich Street, Limehouse E14 8AL, E14",1.0,apartment,2024-06-26
484,Reduced on 12/10/2024,"1 bedroom apartment for sale in Ruckholt Road,...","***GUIDE PRICE £325,000 - £350,000***<br /><br...",Apartment,NaN,1.0,1.0,price_reduced,325000.0,"Ruckholt Road, Leyton, London, E10",1.0,apartment,2024-10-12
850,Reduced on 01/08/2024,"3 bedroom flat for sale in The Grange, East Fi...",<p>We offer for sale a spacious three bedroom ...,Flat,NaN,3.0,1.0,price_reduced,385000.0,"The Grange, East Finchley, N2",3.0,flat,2024-08-01
241,Reduced today,"2 bedroom apartment for sale in Forge Square, ...","Well presented, 2 bedroom, split level apartme...",Apartment,NaN,2.0,1.0,price_reduced,400000.0,"Forge Square, Westferry Road, Isle Of Dogs E14",2.0,apartment,2024-11-06
753,04/11/2024,"2 bedroom flat for sale in Wastdale Road, Fore...",A well presented two bedroom ground floor flat...,Flat,NaN,2.0,1.0,new,425000.0,"Wastdale Road, Forest Hill, SE23",2.0,flat,2024-11-04

## Filtering and Querying

In [122]:
len(df.query('price < 1000000'))

28

In [123]:
len(df.query('price < 1000000 and bedrooms >= 3'))

8

In [124]:
len(df.query('price < 1000000 and (bedrooms >= 3 or bathrooms >= 2)'))

16

In [125]:
len(df.query('price > 20000000 and property_type == "Penthouse"'))

5

In [126]:
len(df[df['price'] < 1000000])

28

In [200]:
len(df[(df['price'] < 1000000) & (df['bedrooms'] >= 3)])

8

In [193]:
len(df[(df['price'] < 1000000) & ((df['bedrooms'] >= 3) | (df['bathrooms'] >= 2))])

16

In [194]:
len(df[(df['price'] > 20000000) & (df['property_type'] == 'Penthouse')])

5

In [196]:
type(df['price'] > 20000000)

pandas.core.series.Series

In [127]:
prices_to_be_returned_mask = df['price'] > 20000000
df[prices_to_be_returned_mask]

,added_on,title,description,property_type,sq_feet,bedrooms,bathrooms,listing_update_reason,price,location,bedrooms_title,property_type_title,date
117,03/11/2023,8 bedroom penthouse for sale in Lowndes Square...,"An existing sixth (top) floor flat, comprising...",Penthouse,6000.0,8.0,4.0,new,20995000.0,"Lowndes Square, London, SW1X",8.0,penthouse,2023-11-03
120,12/09/2024,6 bedroom detached house for sale in Holland P...,"Set behind gates in a secluded location, this ...",Detached,9262.0,6.0,5.0,new,21500000.0,"Holland Park Road, LONDON, W14",6.0,detached house,2024-09-12
75,03/06/2024,6 bedroom semi-detached house for sale in Bedf...,Having been the subject of a bespoke<br />reno...,Semi-Detached,8756.0,6.0,6.0,new,21500000.0,"Bedford Gardens, Kensington, London, W8",6.0,semi-detached house,2024-06-03
48,03/06/2024,6 bedroom terraced house for sale in Bedford G...,A stunning and most beuatifully refurbished 6/...,Terraced,8756.0,6.0,NaN,new,21500000.0,"Bedford Gardens, Kensington, London, W8",6.0,terraced house,2024-06-03
118,12/02/2024,"6 bedroom town house for sale in Lygon Place, ...",*Please note some images have been virtually d...,Town House,7948.0,6.0,6.0,new,21500000.0,"Lygon Place, London, SW1W",6.0,town house,2024-02-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,10/09/2024,7 bedroom town house for sale in Whistler Squa...,"A Stunning freehold house of 13,067 square fee...",Town House,13067.0,7.0,8.0,new,47000000.0,"Whistler Square, London, SW1W",7.0,town house,2024-09-10
43,04/09/2024,8 bedroom end of terrace house for sale in Bal...,A grand double fronted townhouse in the heart ...,End of Terrace,9727.0,8.0,4.0,new,49500000.0,"Balfour Place, Mayfair, London, W1K",8.0,end of terrace house,2024-09-04
45,05/07/2024,"5 bedroom apartment for sale in One Hyde Park,...",An exceptional exclusive five bedroom apartmen...,Apartment,NaN,5.0,5.0,new,60000000.0,"One Hyde Park, Knightsbridge, SW1X",5.0,apartment,2024-07-05
44,03/10/2024,10 bedroom terraced house for sale in Portland...,"Built in 1775 by Robert Adam, the residence ha...",Terraced,20987.0,10.0,10.0,new,65000000.0,"Portland Place, Marylebone, W1B",10.0,terraced house,2024-10-03
46,02/09/2024,5 bedroom penthouse for sale in The Knightsbri...,A once in a lifetime opportunity to own one of...,Penthouse,9437.0,5.0,5.0,new,80000000.0,"The Knightsbridge Apartments, 199 Knightsbridg...",5.0,penthouse,2024-09-02

In [128]:
len(df[df['property_type'].isin(['Apartment', 'Flat'])])

370

In [129]:
len(df[df['description'].str.contains('charming', na=False)])

60

In [219]:
df[['sq_feet', 'bedrooms', 'bathrooms', 'price']]

     sq_feet  bedrooms  bathrooms       price
419   3698.0       4.0        4.0   9750000.0
81    4944.0       5.0        5.0  22500000.0
182   4735.0       4.0        4.0  13950000.0
792   1878.0       3.0        3.0   7295000.0
556      NaN       4.0        3.0   8950000.0

In [221]:
df[df['property_type'] == 'Penthouse'][['price']]

          price
81   22500000.0
556   8950000.0
435   9900000.0
576   9000000.0
658   7920000.0
..          ...
923   6620000.0
965   6815000.0
667   7950000.0
431   9900000.0
427   9900000.0

[94 rows x 1 columns]

In [130]:
df[df['property_type'] == 'Penthouse']['price']

1001     6500000.0
999      6500000.0
1007     6500000.0
923      6620000.0
926      6620000.0
           ...
117     20995000.0
81      22500000.0
15      26500000.0
35      42217600.0
46      80000000.0
Name: price, Length: 94, dtype: float64

## Grouping and Aggregating

In [131]:
df.groupby(['property_type']).agg({
    'price': 'mean'
})

                            price
property_type
Apartment            9.946726e+06
Block of Apartments  1.093750e+07
Character Property   6.500000e+05
Detached             1.167687e+07
Duplex               1.129160e+07
End of Terrace       1.218159e+07
Flat                 9.120382e+06
Ground Flat          4.750000e+05
House                1.298651e+07
Link Detached House  9.316667e+06
Maisonette           6.533333e+06
Mews                 1.023000e+07
Not Specified        1.406450e+07
Penthouse            1.164036e+07
Semi-Detached        1.197434e+07
Terraced             1.226433e+07
Town House           1.511607e+07
Villa                2.050000e+07

In [132]:
df.groupby(['property_type']).agg({
    'price': 'std'
})

                            price
property_type
Apartment            5.792350e+06
Block of Apartments  4.942903e+06
Character Property            NaN
Detached             5.891813e+06
Duplex               5.819055e+06
End of Terrace       1.054872e+07
Flat                 4.638923e+06
Ground Flat                   NaN
House                7.342016e+06
Link Detached House  1.732291e+06
Maisonette           2.829429e+06
Mews                 2.481846e+06
Not Specified        1.216667e+07
Penthouse            8.727923e+06
Semi-Detached        6.587344e+06
Terraced             7.818549e+06
Town House           9.426519e+06
Villa                1.000000e+06

In [134]:
df.groupby(['property_type']).agg({
    'price': 'mean',
    'bathrooms': 'max',
    'bedrooms': 'max'
})

                            price  bathrooms  bedrooms
property_type
Apartment            9.946726e+06       30.0      30.0
Block of Apartments  1.093750e+07       66.0      66.0
Character Property   6.500000e+05        1.0       6.0
Detached             1.167687e+07       12.0      14.0
Duplex               1.129160e+07        6.0       5.0
End of Terrace       1.218159e+07        7.0       8.0
Flat                 9.120382e+06        8.0       9.0
Ground Flat          4.750000e+05        1.0       2.0
House                1.298651e+07       19.0      29.0
Link Detached House  9.316667e+06        5.0       8.0
Maisonette           6.533333e+06        4.0       4.0
Mews                 1.023000e+07        5.0       5.0
Not Specified        1.406450e+07       10.0      15.0
Penthouse            1.164036e+07        8.0       8.0
Semi-Detached        1.197434e+07        8.0       9.0
Terraced             1.226433e+07       22.0      30.0
Town House           1.511607e+07       10.0      10.0
Villa                2.050000e+07        7.0       9.0

In [136]:
df_grouped = df.groupby(['property_type']).agg({
    'price': ['mean', 'std']
})
df_grouped.head()

                            price
                             mean           std
property_type
Apartment            9.946726e+06  5.792350e+06
Block of Apartments  1.093750e+07  4.942903e+06
Character Property   6.500000e+05           NaN
Detached             1.167687e+07  5.891813e+06
Duplex               1.129160e+07  5.819055e+06

In [137]:
df_grouped.columns

MultiIndex([('price', 'mean'),
            ('price',  'std')],
           )

In [138]:
df_grouped.columns = ['_'.join(col).strip() for col in df_grouped.columns.values]

In [139]:
df_grouped.head()

                       price_mean     price_std
property_type
Apartment            9.946726e+06  5.792350e+06
Block of Apartments  1.093750e+07  4.942903e+06
Character Property   6.500000e+05           NaN
Detached             1.167687e+07  5.891813e+06
Duplex               1.129160e+07  5.819055e+06

In [140]:
df.groupby(['bedrooms', 'bathrooms']).agg({
    'price': 'mean',
    'sq_feet': 'mean'
})

                           price       sq_feet
bedrooms bathrooms
1.0      1.0        2.531658e+06   1085.333333
         2.0        7.225000e+06   1311.000000
2.0      1.0        6.138889e+05    822.500000
         2.0        6.184314e+06   1776.703704
         3.0        7.630000e+06   1781.000000
...                          ...           ...
29.0     19.0       1.850000e+07  11238.000000
30.0     20.0       8.900000e+06           NaN
         30.0       7.200000e+06  13096.000000
36.0     34.0       1.750000e+07  23652.000000
66.0     66.0       7.000000e+06           NaN

[77 rows x 2 columns]

In [141]:
def first(s):
    return s.iloc[0]

df.groupby(['bedrooms', 'bathrooms']).agg({
    'price': 'mean',
    'sq_feet': 'mean',
    'property_type': first
})

                           price       sq_feet        property_type
bedrooms bathrooms
1.0      1.0        2.531658e+06   1085.333333            Apartment
         2.0        7.225000e+06   1311.000000            Apartment
2.0      1.0        6.138889e+05    822.500000            Apartment
         2.0        6.184314e+06   1776.703704                 Flat
         3.0        7.630000e+06   1781.000000            Apartment
...                          ...           ...                  ...
29.0     19.0       1.850000e+07  11238.000000                House
30.0     20.0       8.900000e+06           NaN             Terraced
         30.0       7.200000e+06  13096.000000            Apartment
36.0     34.0       1.750000e+07  23652.000000  Block of Apartments
66.0     66.0       7.000000e+06           NaN  Block of Apartments

[77 rows x 3 columns]